<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<title></title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<div id="vue-app">
			<!--<h1>双向数据绑定</h1>-->
			<!--<label>姓名</label>-->
			<!--<input type="text" v-model="name"/>-->
			<!--<span>{{name}}</span>-->
			<!--<label>年龄</label>-->
			<!--<input type="text" v-model="age">-->
			<!--<span>{{age}}</span>-->

			<!--<button @click="a++">Add to A</button>-->
			<!--<button @click="b++">Add to B</button>-->
			<!--<p>A——> {{a}}</p>-->
			<!--<p>B——> {{b}}</p>-->

			<!--<p>Add to A = {{AddtoA}}</p>-->
			<!--<p>Add to B = {{AddtoB}}</p>-->

			<h1>动态 CSS Class</h1>
			<h2>示例 1</h2>
			<div @click="changeColor = !changeColor" @bind=class="changeColor:changeColor">
				<span>Yhchdev</span>
			</div>

			<h2>示例 2</h2>





		</div>


		<script  src="app.js"></script>
	</body>
</html>


